<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
				

<body>



	<section layout:fragment="principal">


			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de produto
					</h1>
				</div>
			</div>

		<div class="container-fluid">

	<div class="alert  alert-danger  alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
	</div>

	<form 	th:action="@{/cerveja/salvar}"
			th:object="${cerveja}" 
			method="POST"
			class="form-vertical  js-form-loading">
			
		<div class="row">	
			<div class="col-sm-3">
				<div class="form-group">
					<label for="sku">Sku</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>	
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-sm-12">
				<label for="descricao">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>
		</div>
		
	<div class="row">	
			<div class="col-sm-3">
				<div class="form-group">
					<label for="estilo">Estilo</label>
					<div class="cr-field-action"/>
					<select id="estilo" class="form-control">
					<option value="">Selecione um campo</option>
					<option th:each="estilo : ${estilos}" th:value="${estilo}" th:text="${estilo.nome}">Teste </option>
					</select>
					
						<div class="cr-field-action-icon">
						<a href="#" data-toggle="modal" data-target="#myModal">
						<i class="glyphicon  glyphicon-plus-sign"></i>
						</a>
					</div>
					
				</div>	
			</div>
	
		<div class="col-sm-12">
				<div class="form-group sabor">
					<label for="sabor">Sabor</label>
					<select id="sabor" class="form-control">
					<option  value="">Selecione um campo </option>
					<option  th:each="s : ${sabor}" th:value="${s}" th:text="${s.descricao}">Teste </option>
					</select>
		
				</div>	
			</div>
			</div>
			
		<div class="col-sm-3">
				<div class="form-group">
					<label for="teorAlcoolico">Teor alcoolico</label>
					<div class="input-group"> 	
					<input id="teorAlcoolico" type="text" class="form-control js-decimal" th:field="*{teorAlcoolico}"/>
					<div class="input-group-addon">%</div>
				</div>	
			</div>
			</div>
			
			<div class="col-sm-2">
				<div class="form-group">
					
					<label for="nacionalidade">Nacionalidade</label>
					<div>	
						<th:block th:each="o : ${origem}" th:value="${o}" >
						<div class="radio radio-in-line">
							<input th:id="|id_${o}|" type="radio" th:value="${o}" th:field="*{origem}">
							<label th:for="|id_${o}|" th:text="${o.nacionalidade}"></label>
						</div>
						</th:block>
					</div>
				</div>	
			</div>	
			</div>
	
	
		
	
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
							<label for="preco">Preço</label>
									<div class="input-group"> 
										<div class="input-group-addon">R$</div>
										<input id="preco" type="text"  class="form-control js-decimal" placeholder="R$" />
									</div>
							</div>
			</div>
			
			<div class="col-sm-3">
				<div class="form-group">
					<label for="comissao">Comissão</label>
						<div class="input-group"> 
					<input id="comissao" type="text" class="form-control js-decimal" placeholder="Valor da comissão"  />
					<div class="input-group-addon">%</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
				<div class="form-group">
					<label for="estoque">Estoque</label>
						<div class="input-group"> 
					<input id="estoque" type="text" class="form-control js-decimal"/>
					<div class="input-group-addon">Qtd</div>
				</div>
			</div>
		</div>
	</div>
		
			
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
	</form>


<div th:replace="fragments/cadastroEstiloModal :: modalEstilo"></div>
</section>



</body>
</html>