<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
				

<body>



	<section layout:fragment="principal">


			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Cadastro de produto
					</h1>
				</div>
			</div>

		<div class="container-fluid">
	


	


	<form 	th:action="@{/cerveja/salvar}"
			th:object="${cerveja}" 
			method="POST"
			class="form-vertical  js-form-loading">
			
		<th:block th:include="fragments/messageError"></th:block>
		<th:block th:include="fragments/messageSuccess"></th:block>		
	
		<div class="row">	
			<div class="col-sm-3">
				<div class="form-group" th:classappend="${#fields.hasErrors('sku')} ? has-error">
					<label for="sku">Sku</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"
					th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid'"/>
					<div class="invalid-feedback">
					<span th:errors="*{sku}"></span>
				</div>
			</div>
		</div>
			<div class="col-sm-9">
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"
					th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'"/>
					<div class="invalid-feedback">
					<span th:errors = "*{nome}"></span>
				</div>	
			</div>
		</div>
	</div>
		
		<div class="row">
			<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('descricao')} ? has-error ">
				<label for="descricao">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"
				th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"	></textarea>
				<div class="invalid-feedback"></div>
				<span th:errors="*{descricao}"></span>
			</div>
		</div>
		
	<div class="row">	
			<div class="col-sm-3">
				<div class="form-group" th:classappend="${#fields.hasErrors('estilo')} ? has-error">
					<label for="estilo">Estilo</label>
					<div class="cr-field-action"/>
					<select id="estilo" class="form-control" th:field="*{estilo}">
					<option value="">Selecione um campo</option>
					<option th:each="estilo : ${estilos}" th:value="${estilo.id}" th:text="${estilo.nome}"> Teste </option>
					</select>
					
						<div class="cr-field-action-icon">
						<a href="#" data-toggle="modal" data-target="#myModal">
						<i class="glyphicon  glyphicon-plus-sign"></i>
						</a>
					</div>
					
				</div>	
			</div>
	
		<div class="col-sm-12">
				<div class="form-group sabor" th:classappend="${#fields.hasErrors('sabor')} ? has-error">
					<label for="sabor">Sabor</label>
					<select id="sabor" class="form-control" th:field="*{sabor}"/>
					<option  value="">Selecione um campo </option>
					<option  th:each="sabor : ${sabor}" th:value="${sabor}" th:text="${sabor.descricao}">Teste </option>
					</select>
		
				</div>	
			</div>
			</div>
			
		<div class="col-sm-3">
				<div class="form-group" th:classappend="${#fields.hasErrors('teorAlcoolico')} ? has-error">
					<label for="teorAlcoolico">Teor alcoolico</label>
					<div class="input-group"> 	
					<input id="teorAlcoolico" type="text" class="form-control js-decimal" th:field="*{teorAlcoolico}"
					th:classappend="${#fields.hasErrors('teorAlcoolico')} ? 'is-invalid'"/>
					<div class="input-group-addon">%</div>
					<div class="invalid-feedback">
					<span th:errors = "*{teorAlcoolico}"></span>
					
					</div>
				</div>	
			</div>
		</div>
			
			<div class="col-sm-2">
				<div class="form-group" >
					
					<label for="nacionalidade">Nacionalidade</label>
					<div>	
						<th:block th:each="origem : ${origem}" th:value="${origem}" >
						<div class="radio radio-in-line">
							<input th:id="|id_${o}|" type="radio" th:value="${origem}" th:field="*{origem}">
							<label th:for="|id_${o}|" th:text="${origem.nacionalidade}"></label>
						</div>
						</th:block>
					</div>
				</div>	
			</div>	
			</div>
	
	
		
	
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group" th:classappend="${#fields.hasErrors('cerveja.valor')} ? has-error">
							<label for="valor">Preço</label>
									<div class="input-group"> 
										<input id="valor" type="text"  class="form-control js-decimal" placeholder="R$" th:field="*{cerveja.valor}" 
										th:classappend="${#fields.hasErrors('cerveja.valor')} ? 'is-invalid'"/>
										<div class="input-group-addon">R$</div>
										<div class="invalid-feedback"></div>
										<span th:errors="*{cerveja.valor}"></span>
									</div>
							</div>
			</div>
		
			
			<div class="col-sm-3">
				<div class="form-group" >
					<label for="comissao">Comissão</label>
						<div class="input-group"> 
					<input id="comissao" type="text" class="form-control js-decimal" placeholder="Valor da comissão" th:field="*{cerveja.comissao}" />
					<div class="input-group-addon">%</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
				<div class="form-group" th:classappend="${#fields.hasErrors('cerveja.quantidadeEstoque')} ? has-error">
					<label for="quantidadeEstoque">Estoque</label>
						<div class="input-group"> 
					<input id="quantidadeEstoque" type="text" class="form-control " th:field="*{cerveja.quantidadeEstoque}" 
					th:classappend="${#fields.hasErrors('cerveja.quantidadeEstoque')} ? 'is-invalid'"/>
					<div class="input-group-addon">Qtd</div>
					<div class="invalid-feedback"></div>
					<span th:errors="*{cerveja.quantidadeEstoque}"></span>
				</div>
			</div>
		</div>
	</div>
		
			
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
		</form>


	<div th:replace="fragments/cadastroEstiloModal :: modalEstilo"></div>
</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/cadastro-rapido.js}"></script>
	</th:block>
</body>
</html>