<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout}">
				

<body>



	<section layout:fragment="principal">


			<div class="page-header">
				<div class="container-fluid">
					<h1>
						Home - Cervejaria Pinheiro
					</h1>
				</div>
			</div>

		<div class="container-fluid">
		<img alt="" th:src="@{/images/beer.jpg}" class="imagemHome">



	
	
			
			
		</div>
		




</body>
</html>